/* Desktop style */

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background-color: #90dad8;
  color: #004640;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: left;
}

.menu-container {
  display: flex;
  position: fixed;
  justify-content: space-between;
  background-color: #c97796;
  width: 100%;
  max-height: 10%;
  z-index: 2;
  color: white;
  padding: 1rem auto;
  align-items: center;
}

.navbar {
  border-color: blue;
}

.navbar ul {
  list-style: none;
  display: flex;
  border-color: blue;
  justify-content: space-between;
  margin-right: 20px;
}

.navbar ul li a {
  color: white;
  justify-content: space-between;
  padding: 10px;
}

#section {
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  margin-left: 20px;
  font-size: 0.7rem;
}

.landing-page {
  display: flex;
  padding-top: 10%;
  align-items: center;
  margin-left: 5%;
}

.landing-page h1 {
  margin: 0 auto;
  color: #c97796;
  font-size: 5rem;
  text-align: left;
}

#ja-photo {
  max-width: 50%;
  border-radius: 20;
}

h2 {
  font-size: 35px;
  font-weight: bold;
  color: #ca976c;
}

#About {
  background-color: #f6dce6;
  margin: 25px;
  padding: 35px;
  border-radius: 2%;
}

#Experience {
  border-radius: 2%;
  background-color: #f6dce6;
  margin: 25px;
  padding: 35px;
}

#Experience ul {
  padding-left: 0;
}

#Connect {
  background-color: #c97796;
  padding: 1px;
}

#Connect h2 {
  color: black;
}

a {
  color: black;
  text-decoration: none;
}

#Experience section {
  list-style: none;
  background-color: #c98896;
  padding: 3em;
  margin: 2em;
  border-radius: 0.7em;
  color: whitesmoke;
}

#Experience ul li {
  display: inline-flex;
  margin: 0 5%;
  font-weight: bold;
  font-size: larger;
}

.experience-details {
  font-weight: lighter;
  font-size: smaller;
  width: 100%;
}

#Connect ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 20% 5% 20%;
  padding-left: 0;
  flex-wrap: wrap;
}

.logo {
  max-width: 50px;
}

button {
  background-color: #c97796;
  border: 10px none;
  max-width: 80px;
}

/* Mobile style */

@media (max-width: 475px) {
  h1 {
    font-size: 12px;
    margin-bottom: 0%;
    text-align: center;
  }

  .menu-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
    position: relative;
  }

  .navbar ul {
    margin-top: 5px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
  }

  .navbar ul li a {
    font-size: 1.2rem;
    padding: 1.2rem auto;
  }

  .landing-page {
    display: flex;
    flex-direction: column;
  }

  .landing-page h1 {
    text-align: center;
    color: white;
  }

  #Experience section {
    list-style: none;
    background-color: #c98896;
    padding: 1em;
    margin: 1em;
    border-radius: 0.7em;
    color: whitesmoke;
  }

  #Experience ul li {
    display: inline-flex;
    margin: 0;
    font-weight: bold;
    font-size: larger;
  }

  .experience-details {
    font-weight: lighter;
    font-size: smaller;
    width: 100%;
  }

  #Experience {
    border-radius: 2%;
    background-color: #f6dce6;
    margin: 1em;
    padding: 1em;
    padding-left: 0;
  }

  #Connect ul {
    margin: 0 5%;
    padding-left: 0;
  }
}

p {
  margin: 0;
  padding: 0;
}

/* Tablet style */

@media (min-width: 476px) and (max-width: 768px) {
  .landing-page h1 {
    text-align: center;
    font-style: italic;
    color: #ca976c;
  }

  .menu-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    max-height: 100%;
    position: relative;
  }

  .navbar ul {
    margin-top: 0px;
    font-weight: bolder;
  }

  .navbar ul li a {
    font-size: 1rem;
  }

  .header h1 {
    font-weight: lighter;
    font-size: 2rem;
    margin: 1rem;
  }
}

#skills ul,
#Projects ul {
  list-style: none;
  padding-left: 0;;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap
}

#Projects li {
  border: #04b3a5 groove 2px;
  padding: 1rem;
  border-radius: 100%;
  margin: 10px;
}


.skills-list {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;
}

.skills-list li {
  background-color:#f6dce6;
  padding: .5rem 1rem;
  border-radius: 20px;
}

#messages a {
  text-decoration: underline;
  color: blue;
}

#messages ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;
}

#messages li {
  border:#04b3a5 2px solid;
  padding: 3rem;
  border-radius: 12px;
  margin: 10px;
}

.hidden {
  display: none;
}

footer p {
  background-color: black;
  color: white;
  font-size: 0.8rem;
  padding: 0.8rem;
}
